<app-header [admin]="true">
</app-header>

<div class="main-container">
  <app-edit-artwork-info
    *ngIf="currentStep === 0"
    [artworkContainer]="artworkContainer">
  </app-edit-artwork-info>
  <app-edit-artwork-files
    *ngIf="currentStep === 1"
    [artworkContainer]="artworkContainer">
  </app-edit-artwork-files>

  <div class="button-container">
    <button *ngIf="currentStep === 0"
            class="button yellow-button"
            (click)="goToPhotoLoading()">Сохранить и перейти к загрузке фотографий и видео</button>
    <button *ngIf="currentStep === 1"
            class="button yellow-button"
            (click)="backToInfoEditing()">Вернуться к редактированию информации</button>
  </div>
  <div class="button-container">
    <button class="button yellow-button"
            (click)="saveAndExit()">Сохранить и выйти</button>
    <button class="button grey-button"
            (click)="exit()">Отменить</button>
  </div>
</div>

<app-footer [admin]="true">
</app-footer>
