<app-header [admin]="true">
</app-header>
<div class="main-container">
  <app-edit-artwork-info
    *ngIf="currentStep === 0"
    [artworkContainer]="artworkContainer">
  </app-edit-artwork-info>
  <app-edit-artwork-files
    *ngIf="currentStep === 1"
    [artworkContainer]="artworkContainer">
  </app-edit-artwork-files>



  <button *ngIf="currentStep === 0"
          (click)="nextPage()">
    Перейти к загрузке фотографий и видео
  </button>
<!--  TODO предупреждение: если файлы не загружены, работа не будет отображаться в каталоге и прайслисте. Продолжить редактирование можно будет позже -->
  <button *ngIf="currentStep === 1"
          (click)="previousPage()">Вернуться к редактированию информации</button>
  <button (click)="save()">Сохранить и выйти</button>
</div>

<app-footer [admin]="true">
</app-footer>
