.currency-symbol {
  display: inline-block;
}

.new-option {
  color: blueviolet;
}

.button-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button-container * {
  font-size: 14px;
}
