@import "../edit-artwork-info/edit-artwork-info.component";

.beige-button {
  margin: 20px 0;
}

.section-table {
  width: 100%;
}

.section-table th {
  color: var(--beige);
  font-weight: 300;
  text-align: left;
}

.section-table th,td {
  padding: 3px;
}

.section-table .small-cell {
  width: 0;
  white-space: nowrap;
}

th.small-cell {
  font-size: 12px;
}

