<div *ngIf="!isLoading">
  <!--  Создание/редактирование секции через модалку -->
  <!--  Создание/редактирование типа работы через модалку -->
  <div class="edit-info-block">
    <h2>Общая информация</h2>
    <app-labeled-field [label]="'Тип работы'" [required]="true">
      <select class="text-field" name="artworkType" [(ngModel)]="artwork.artworkType" (ngModelChange)="onArtworkTypeChanged()">
        <option *ngFor="let type of artworkTypes" [ngValue]="type">{{ languageService.getArtworkTypeInfo(type).typeName }}</option>
      </select>
      <button class="button edit-button" (click)="onCreateTypeClicked()"></button>
    </app-labeled-field>
    <app-labeled-field [label]="'Серия'">
      <select class="text-field" name="artworkSection" [(ngModel)]="artwork.artworkSection">
        <option [ngValue]="null">-</option>
        <option *ngFor="let section of artworkSections" [ngValue]="section">{{ languageService.getArtworkSectionInfo(section).sectionName }}</option>
      </select>
      <button *ngIf="!!artwork.artworkType?.id" class="button edit-button" (click)="onCreateSectionClicked()"></button>
    </app-labeled-field>
    <app-labeled-field [label]="'Вес'">
      <input class="text-field"
             type="text"
             name="artworkWeight"
             [(ngModel)]="artwork.weight">
      <div class="measurement-unit">кг</div>
    </app-labeled-field>
    <app-labeled-field [label]="'Дата создания'">
      <input class="text-field"
             type="date"
             name="creationDate"
             [(ngModel)]="artwork.creationDateTemp">
    </app-labeled-field>
    <div class="edit-lang-info">
      <div *ngFor="let language of languageService.getAllLanguages()" class="edit-info-block">
        <h2>{{ language }}</h2>
        <ng-container
          *ngTemplateOutlet="artworkInfo; context: {info: languageService.getArtworkInfo(this.artwork, language)}">
        </ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #artworkInfo let-info="info">
  <app-labeled-field [label]="'Название'" [required]="true">
    <input class="text-field"
           type="text"
           name="artworkName{{ info.language }}"
           [(ngModel)]="info.artworkName">
  </app-labeled-field>
  <app-labeled-field [label]="'Описание'">
    <textarea class="text-field"
              name="artworkDescription{{ info.language }}"
              [(ngModel)]="info.description">
    </textarea>
  </app-labeled-field>
  <app-labeled-field [label]="'Материалы'">
    <textarea class="text-field"
              name="artworkMaterials{{ info.language }}"
              [(ngModel)]="info.materials">
    </textarea>
  </app-labeled-field>
  <app-labeled-field [label]="'Размер'">
    <input class="text-field"
           type="text"
           name="artworkSize{{ info.language }}"
           [(ngModel)]="info.size">
  </app-labeled-field>
  <app-labeled-field [label]="'Цена'">
    <input class="text-field"
           type="text"
           name="artworkPrice{{ info.language }}"
           [(ngModel)]="info.price">
    <div>{{ getCurrencySymbol(info.language) }}</div>
  </app-labeled-field>
  <app-labeled-field [label]="'Отображать в каталоге ' + info.language" [withCheckbox]="true">
    <input class="text-field"
           type="checkbox"
           name="artworkVisible{{ info.language }}"
           [(ngModel)]="info.visible">
  </app-labeled-field>
  <app-labeled-field [label]="'Отображать в прайс-листе ' + info.language" [withCheckbox]="true">
    <input class="text-field"
           type="checkbox"
           name="artworkVisibleInPricelist{{ info.language }}"
           [(ngModel)]="info.visibleInPricelist">
  </app-labeled-field>


  <app-edit-artwork-type-modal #editArtworkTypeModalComponent
                               [artworkTypes]="artworkTypes">
  </app-edit-artwork-type-modal>
  <app-edit-artwork-section-modal #editArtworkSectionModalComponent
                                  [artworkSections]="artworkSections">
  </app-edit-artwork-section-modal>
</ng-template>
